<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Organization</label>
  <div class="col-sm-10">
    <input type="text" ng-model="nonprofit.name" class="form-control" id="name" placeholder="Product Name Here"/>
  </div>
</div>
<div class="form-group">
  <label for="category" class="col-sm-2 control-label">Category</label>
  <div class="col-sm-10">
    <input type="text" ng-model="nonprofit.category" class="form-control" id="category" placeholder="Org Category"/>
  </div>
</div>
<div class="form-group">
  <label for="image" class="col-sm-2 control-label">Image</label>
  <div class="col-sm-10">
    <input type="text" ng-model="nonprofit.image" class="form-control" id="image" placeholder="Image URL"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-2 control-label">Org Description</label>
  <div class="col-sm-10">
    <input type="content" ng-model="nonprofit.description" class="form-control" id="description" placeholder="Description"/>
  </div>
</div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
